footer{
  overflow: hidden;
}

.footer {
  display: flex;
  flex-direction: column;
  position: relative;


  &__bottom {
    align-self: flex-end;
    padding: clamp(29px, 6.6023vw, 82px) 0 clamp(24px, 4.4412vw, 80px);
    display: flex;
    flex-direction: column;
    z-index: 1;
    grid-gap: 8px;

    @include laptop{
      max-width: 610px;
    }

    @include tablet{
      max-width: 100%;
      width: 100%;
      align-items: center;
    }

    @include small-tablet{
      align-items: flex-start;
    }

    @include mobile{
      grid-gap: 12px;
    }

    .footer__icon{
      left: 0;
      bottom: 0;
      display: flex;
      
   

      @include laptop{
        left: -20px;

        svg{
          height: 670px;
          width: auto;
        }
      }

      @media (max-width: (1100px)) {
        svg{
          height: 620px;
          width: auto;
        }
      }

      @include tablet{
        display: none;
      }
    }
  }

  &__icon{
    position: absolute;
    z-index: -1;

    @include small-tablet{
      display: none !important;
    }
  }

  .main-nav{
    justify-content: center;
    flex-wrap: wrap;
    @include small-tablet{
      justify-content: flex-start;
    }
  }

  &__text {
    color: rgba(var(--cl-c),1.0);
    font-family: var(--font-family);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
  }

  &__top {
    position: relative;

    &::before{
      position: absolute;
      content: '';
      background: linear-gradient(86deg, #0165FF 6.44%, #01A4FF 102.34%);
      width: 100vw;
      left: 50%;
      transform: translateX(-50%);
      top:0;
      bottom: 0;
      z-index: -1;
    }
  }

  &__wrapp{
    padding: 24px 0 36px;
    display: flex;
    flex-direction: column;
    grid-gap: 15px;
    align-items: center;
    overflow: hidden;

    @include for-small-tablet{
      display: none;
    }
  }

  &__btns{
    display: flex;
    align-items: center;
    grid-gap: 10px;

    .white-button{
      padding: 12px 13px;
      font-size: 14px;
      font-weight: 500;
      line-height: normal;
      grid-gap: 2px;

      
    &:first-child{
      grid-gap: 8px;
      color: rgba(var(--cl-q),1.0);
    }
    }
  }

  &__link{
     margin-top: 14px;
      position: relative;
      &-bg{
        pointer-events: none;
        position: absolute;
        bottom: -17%;
        left: 50%;
        bottom: -40px;
        transform: translateX(-50%);
        width: 106%;

        img,picture{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
   }
  }

  &__inner{
    padding: clamp(24px, 5.5556vw, 69px) 0 82px 362px;
    display: flex;
    flex-direction: column;
    grid-gap: 16px;
   
    .footer__icon{
      right: -6%;
      top: -5%;

      svg{
        width: Min(31.8841vw, 396px);
        height: Min(30.9984vw, 385px);
      }

      @include laptop{
        right: -15%;
      }
      @include tablet{
        bottom: 0;
        top: initial;
        right: 0;
       svg{
        width: 200px;
        height: 200px;
       }
      }

    }

    @include tablet{
      padding-left: 0;
      align-items: center;
    }

    @include small-tablet{
      display: none;
    }
  }

  &__image{
    position: absolute;
    z-index: -1;
    left: -18%;
    bottom: -13%;

    svg{
      width: Min(66.9726vw, 956px);
      height: Min(66.2093vw, 872px);
    }
    @include small-tablet{
      display: none;
    }
  }

  p{
    
    z-index: 2;
    color: rgba(var(--cl-a),1.0);
    font-family: var(--font-family);
    font-size: clamp(24px, 2.8986vw, 36px);
    font-style: normal;
    font-weight: 500;
    line-height: 135.023%;
    letter-spacing: -1.44px;
    max-width: 511px;

    @include tablet{
        max-width: 400px;
        text-align: center;
    }

    @include ios{
      max-width: 268px;
    }
  }  

  &__logo{
    display: none;
    margin-bottom: 3px;

    @include small-tablet{
      display: flex;
      margin-bottom: 0;
    }

    &--mode{
      display: flex;
      @include small-tablet{
        display: none;
      }
    }
  }
}
