.breadcrumbs {
    display: flex;
    align-items: center;
    grid-gap: 12px;
    &__link {
        color: rgba(var(--cl-b), 1);
        font-family: var(--font-family2);
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 400;
        line-height: 44px;
        letter-spacing: -0.1px;
        transition: all 0.4s;
        display: flex;
        align-items: center;
        grid-gap: 0.75rem;
        &:hover {
        color: rgba(var(--cl-c), 1);

        svg {
            fill: rgba(var(--cl-c), 1);
        }
        }

        svg {
        fill: rgba(var(--cl-b), 1);
        transition: all 0.4s;
        }
    }
}
