.question-card{
     display: flex;
     flex-direction: column;
     grid-gap: 2px;

    &__icon{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 56px;
        height: 56px;
        border-radius: 100%;
        background: rgba(var(--bg-c),0.1);
        margin-bottom: 10px;
    }

    p{
        color: rgba(var(--cl-g),1.0);
        font-family: var(--font-family);
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 32px;
    }

    &__text{
        color: rgba(var(--cl-h),1.0);
        font-family: var(--font-family);
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 28px;
    }
}