.blue-button{
  color: rgba(var(--cl-a),1.0);
  font-family: var(--font-family);
  font-size: clamp(14px, 1.2882vw, 16px);
  font-style: normal;
  font-weight: 600;
  line-height: 175%;
  display: flex;
  width: clamp(92px, 8.8567vw, 110px);
  padding: 4px 1px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  background: linear-gradient(89deg, #0165FC 44.51%, #2400FF 80.67%);
  transition: all .2s;

  &:hover{
  transform: scale(1.01);
   
  }
}

.main-button{
  display: flex;
  align-items: center;
  justify-content: center;
  grid-gap: 4px;
  border-radius: 8.03px;
  background: rgba(var(--bg-d),1.0);
  padding: 13px 19px;
  color: rgba(var(--cl-a),1.0); 
  font-family: var(--font-family);
  font-size: 16.061px;
  font-style: normal;
  font-weight: 500;
  line-height: 20.65px;
  letter-spacing: -0.402px;
  border: solid 1px transparent;
  svg{
    margin-top: -2px;
  }
  transition: all .4s;

  &:hover{
    border-color:var(--br-f);
      background-color: rgba(var(--bg-a),1.0);
      color: rgba(var(--cl-b),1.0);
  }
}


.white-button{
  border-radius: 8px;
  background: rgba(var(--bg-a),1.0);
  display: flex;
  width: fit-content;
  padding: clamp(11px, 1.1272vw, 14px) clamp(12px, 1.2077vw, 15px) clamp(9px, .9662vw, 12px) clamp(11px, 1.1272vw, 14px);
  justify-content: center;
  align-items: center;
  color: rgba(var(--cl-m),1.0);
  text-align: center;
  grid-gap: 6px;
  font-family: var(--font-family);
  font-size: clamp(16px, 1.6103vw, 20px);
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  text-transform: uppercase;
  transition: all .4s;

  svg{
    transition: all .4s;
    stroke: rgba(var(--cl-m),1.0);
  }
  
  &:hover{
      background-color: rgba(var(--bg-f),1.0);
      color: rgba(var(--cl-a),1.0);

      svg{
        stroke: rgba(var(--cl-a),1.0);
      }
  }

  &--mode{
    color: rgba(var(--cl-p),1.0);
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    border-radius: 36px;
    padding: 4px 12px;
    text-transform: none;
  }

 
}