@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 20px));
  }
}

.blue-text{
  color: rgba(var(--cl-d),1.0);
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;

  &--mode{
    color: rgba(var(--cl-k),1.0);
  }
}

.red-text{
  color: rgba(var(--cl-f),1.0);
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
}

.underline-text{
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: underline;
  text-underline-offset: 3px;
}

.grey-text{
  color: rgba(var(--cl-j),1.0);
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
}

.main-title{
  color: rgba(var(--cl-b),1.0);
  text-align: center;
  font-family: var(--font-family);
  font-size: clamp(24px, 3.7842vw, 47px);
  font-style: normal;
  font-weight: 500;
  line-height: 110.523%;
  letter-spacing: -1.88px;

  @include small-tablet{
    line-height: 135.023%;
    letter-spacing: -0.96px;
  }
}

.marquee{
  background: linear-gradient(89deg, #0165FC 44.51%, #2400FF 80.67%);
  padding: 6px 0;
  position: relative;
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: 5px;

  &__list{
    flex-shrink: 0;
    display: flex;
    gap: 5px;
    justify-content: center;
    min-width: 100%;
    animation: scroll 30s linear infinite;
  }

  &__item{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.1s ease-in-out;

    color: rgba(var(--cl-a),1.0);
    font-family: var(--font-family);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 17.558px;
    position: relative;
    b{
      font-weight: 600;
    }

    &:not(:first-child){
      &::before{
        content: '';
        width: 1px;
        height: 100%;
        background-color: rgba(var(--cl-a),1.0);
        margin-right: 6px;
        margin-top: -2px;
      }
    }
  }
}

.code{
  width: 100%;
  &__label{
    width: 100%;
    display: flex;
    align-items: center;
    grid-gap: 10px;
    justify-content: space-between;
    text-align: left;
    border-radius: 8.775px;
    border: 1.097px solid var(--br-c);
    position: relative;
    padding: 7px 10px 7px 12px;
  }

  &__name{
    position: absolute;
    top: 0;
    transform: translateY(-50%);
    color: rgba(var(--cl-b),0.36);
    font-family: var(--font-family);
    font-size:  clamp(4.699px, .6441vw, 8.775px);
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: -0.219px;
    z-index: 2;

    &::before{
      content: '';
      position: absolute;
      inset: 0 -2px;
      background: rgba(var(--bg-a),1.0);
      z-index: -1;
    }
  }

  &__content{
    flex-grow: 1;
    border-radius: 8.775px;
    font-family: var(--font-family);
    font-size: clamp(7.048px, 1.0467vw, 13.163px);
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: -0.329px;
    color: rgba(var(--cl-b),0.68);
  }

  &__btn{
    flex-shrink: 0;
    border-radius: 4.055px;
    background: rgba(var(--bg-h),1.0);
    color: rgba(var(--cl-a),1.0);
    font-family: var(--font-family);
    font-size:  clamp(5.8px, .8052vw, 10.969px);
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    padding: 5px 8px;
    transition: all .4s;
    border: solid 1px transparent;
    &:hover{
      border-color:var(--br-f);
        background-color: rgba(var(--bg-a),1.0);
        color: rgba(var(--cl-b),1.0);
    }
  }
}

